html {
    font-family: 'Epilogue', sans-serif;
}

h1, h2, h3 {
    color: $darkgrey;
    font-weight: 700;
}

@mixin header-thin {
    font-weight: 400;
}

@mixin heading-xl {
    font-size: 4.5rem;
    letter-spacing: -1px;
    line-height: 78px;
    color: $darkgrey;
}

@mixin heading-l {
    font-size: 3rem;
    letter-spacing: -0.5px;
    line-height: 56px;
    color: $darkgrey;
}

@mixin heading-mobile {
    font-size: 2.375rem;
    letter-spacing: -0.53px;
    line-height: 44px;
    color: $darkgrey;
    margin-bottom: 2rem;
}

@mixin heading-m {
    font-size: 1.125rem;
    letter-spacing: -0.2px;
    line-height: 32px;
    text-transform: uppercase;  
    color: $darkgrey;  
}

@mixin heading-s {
    font-size: 1rem;
    letter-spacing: 2.5px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 400;
    color: $mediumgrey;    
}

@mixin quote {
    font-size: 1.25rem;
    letter-spacing: 0px;
    line-height: 35px;
    font-weight: 400;   
    color: $mediumgrey; 
}

@mixin body {
    font-size: 1.125rem;
    letter-spacing: 0px;
    line-height: 32px;
    font-weight: 400;   
    color: $mediumgrey; 
    margin-bottom: 2rem;
}

@mixin footer {
    font-size: 0.938rem;
    letter-spacing: 0px;
    line-height: 32px;
    font-weight: 400;   
    color: $mediumgrey; 
}

h1 span {
    @include header-thin;
}